/* Estilo general del body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Contenedor para las tarjetas de Login y Crear Hotel */
.card-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Inputs y Select */
input, select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botones */
button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Mensajes de error */
.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 10px 30px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Logo del hotel e imagen */
.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  width: auto;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
}

/* Navbar derecha (usuario y botón) */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #ff1a1a;
}

/* Contenedor del Home */
.home-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 60px; /* Para evitar que el contenido quede debajo del navbar */
  height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar-container {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius:10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Contenedor de Habitaciones y huespedes */
.habitaciones-container {
  width: 65%;
  margin-left: 20px;
}

/* Tarjetas de habitaciones y huéspedes */
.habitacion-card, .huesped-card {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
